@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
@layer base {
  html {
    @apply antialiased;
  }
  
  body {
    @apply text-slate-700 bg-slate-50;
  }
}

/* Custom Utilities */
@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  .active\:scale-97:active {
    transform: scale(0.97);
  }
}
